// Global
$page_background: #03071e;
$font-family: 'Rancho', cursive;
$color_main: #ffffff;
$color_one: #adb5bd;
$color_two: #FAA307;
$color_three: linear-gradient(90deg, #07BEB8 0%, #FAA307 100%);
$color_button: #002855;
